/virtual
*.pyc
**/.vscode/
__pycache__/
.env
__pycache__/
/venv
*.pyc
**/.vscode/
__pycache__/
.env
virtual/
/virtual
migrations/
virtual/
virtual
_migrations/*
migrations/
/migrations
/migrations
migrations
